/* ----------------------------- Basic Layout ----------------------------- */
.container {
  display: grid;
  grid-template-columns: minmax(300px,1fr) 4fr;
  grid-template-rows:    minmax(150px,1fr) 4fr;
  height: 100vh;
  width:  100vw;
}

.sidebar {
  grid-row: 1 / -1;
}

/* ----------------------------- Nested Layout ----------------------------- */
/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
}

.icon-row {
  display: flex;
}

.header {
  display: grid;
  grid-template-rows:  repeat(2, 1fr);
}


/* Header */
.header .search-bar,
.header .user-info,
.user-profile{
  display: flex;
  align-items: center;
}

.header .search-bar,
.header .user-info{
  align-items: center;
}

.search-bar .user-profile,
.user-info .quick-options{
  margin-left: auto;
}

.search-bar {
  align-self: flex-start;
}

/* Main Content */
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.projects,
.announcements,
.trending-items{
  display: flex;
  flex-direction: column;
}

.projects {
  grid-row:  1 / -1;
}

.card-container {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-around;
  flex: 1;
}

.card-container > .card {
  display: flex;
  flex-direction: inherit;
  align-self: stretch;
  max-height: 100%;
  height: 100%;
}

.trending-items .card {
  flex-direction: row;
  gap: 12px;
}

.projects > .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.card-buttons {
  margin-top: auto;
  margin-left: auto;
}

